<h2 id="join-the-contour-community">Join the Contour Community!</h2>

<ul>
	<li>Join the <a href="https://projectcontour.io/community/">Contour Community Meetings</a>, every third Tuesday at 6 PM Eastern Time / 3 PM Pacific Time / Wednesday at 8 AM Australian Eastern Time.</li>
	<li>Get updates on Twitter (<a href="https://twitter.com/projectcontour">@projectcontour</a>)</li>
	<li>Chat with us in <a href="https://kubernetes.slack.com/messages/contour">#contour on the Kubernetes Slack</a></li>
	<li>Collaborate with us on <a href="https://github.com/projectcontour/contour">GitHub</a></li>
</ul>
