<table class="table table-sm">
{% for m in site.metrics %}
<tr>
    <td class="font-weight-bold table-active">Name</td>
    <td class="font-weight-bold table-active">{{ m.name }}</td>
</tr>
<tr>
    <td class="font-weight-bold table-active">Type</td>
    <!-- Strip the <p> that the redcarpet markdown processor wraps around everything. -->
    <td>{{ m.type | markdownify | remove: "<p>" | remove: "</p>" }}</td>
</tr>
<tr>
    <td class="font-weight-bold table-active">Labels</td>
    <td>{{ m.labels | markdownify | remove: "<p>" | remove: "</p>" }}</td>
</tr>
<tr>
    <td class="font-weight-bold table-active">Description</td>
    <td>{{ m.content | markdownify | remove: "<p>" | remove: "</p>" }}</td>
</tr>
{% endfor %}
</table>
