<header class="site-header">
    <div class="site-header-content">
        <div class="logo">
            <a href="/" aria-label="Contour homepage"><img src="/img/{{ site.logo }}" alt="Homepage" class="logo" /></a>
        </div>
        <ul class="nav-menu" id="header-nav">
		<li class="getting-started"><a href="{% link getting-started.md %}" title="Getting Started">Getting Started</a></li>
		<li class="guides"><a href="{% link guides.md %}" title="Guides">Guides</a></li>
		<li class="community"><a href="{% link community.html %}" title="Community">Community</a></li>
        <li class="docs"><a href="/docs/{{ site.latest }}" title="Documentation">Documentation</a></li>
		<li class="resources"><a href="{% link resources.html %}" title="Resources">Resources</a></li>
		<li class="blog"><a href="{% link blog.html %}" title="Blog Posts">Blog</a></li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle" aria-label="Toggle mobile site"></a>
        </div>
    </div>
</header>
