<header class="site-header">
    <div class="site-header-content">
        <div class="logo">
            <a href="/" alt="Homepage"><img src="/img/{{ site.logo }}" class="logo" /></a>
        </div>
        <ul class="nav-menu" id="header-nav">
		<li><a href="{% link getting-started.md %}" title="Getting Started">Getting Started<a></li>
		<li><a href="{% link guides.md %}" title="Guides">Guides</a></li>
		<li><a href="{% link community.md %}" title="Community">Community</a></li>
		<li><a href="{% link docs.md %}" title="Documentation">Documentation</a></li>
		<li><a href="{% link resources.md %}" title="Resources">Resources</a></li>
		<li><a href="{% link blog.html %}" title="Blog Posts">Blog</a></li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
        </div>
    </div>
</header>
