{% if page.version != site.latest %}
  {% assign latest_url = page.url | replace: page.version, site.latest | relative_url %}
  {% assign target_page = site.pages | where: "url", latest_url | first %}
  {% unless target_page %}
    {% assign target_prefix = page.url | split: page.version | first %}
    {% assign latest_url = target_prefix | append: site.latest | append: '/' | relative_url %}
  {% endunless %}

<div class="alert alert-primary" role="alert">
  {% if page.version == 'main' %}
  <p>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    This is the documentation for the latest development version of Contour. Both code and docs may be
    unstable, and these docs are not guaranteed to be up to date or correct. See the
    <a href="{{latest_url}}">latest version</a>.
  </p>
  {% elsif page.version contains 'beta' or page.version contains 'alpha' or page.version contains 'rc' %}
  <p>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    This is the documentation for the latest pre-production version of Contour. Both code and docs may be
    unstable, and these docs only a best-guess effort at being up to date or correct. See the
    <a href="{{latest_url}}">latest version</a>.
  </p>
  {% else %}
  <p>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    Documentation for version {{ page.version }} is no longer actively maintained.
    The version you are currently viewing is a static snapshot.
    For up-to-date documentation, see the <a href="{{latest_url}}">latest version</a>.
  </p>
  {% endif %}
</div>
{% endif %}