# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
# main branch targets
- target-branch: main
  package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  labels:
  - area/dependency
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
- target-branch: main
  package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  labels:
  - area/tooling
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
  
# release branch N targets
- target-branch: release-1.25
  package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/dependency
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
- target-branch: release-1.25
  package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/tooling
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers

# release branch N-1 targets
- target-branch: release-1.24
  package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/dependency
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
- target-branch: release-1.24
  package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/tooling
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers

# release branch N-2 targets
- target-branch: release-1.23
  package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/dependency
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
- target-branch: release-1.23
  package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  - update-types:
    - "version-update:semver-major"
    - "version-update:semver-minor"
  labels:
  - area/tooling
  - release-note/none-required
  reviewers:
  - projectcontour/maintainers
