*.swp
*.swo
vendor/
.vs/
.idea/
.DS_Store
# TODO(youngnick): Move these out of the repo root.
localenvoyconfig.yaml
securelocalenvoyconfig.yaml
certs/

# Netlify stuff
.vagrant
.DS_Store
.sass-cache
_ignore
node_modules
_site
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.vscode
bundler
*.log
*.js.map
*.css.map
.ruby-version
