language: go
go_import_path: github.com/heptio/contour
go:
  - 1.9.x

sudo: false

install:
  - go get -u github.com/golang/dep/cmd/dep
    && dep ensure -vendor-only -v

script:
  - go install -v ./...
    && go test ./... &&
    cd deployment && bash render.sh && git diff --exit-code .
