[build]
  base = "site/"
  command = "hugo --gc --minify"
  publish = "site/public"

[context.production.environment]
HUGO_VERSION = "0.83.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.83.1"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.83.1"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.83.1"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

[build.processing]
  skip_processing = false # -> Enable processing
[build.processing.css]
  bundle = true # -> Concatenate consecutive CSS files together to reduce HTTP requests.
  minify = true # -> Run CSS through a minifier to reduce file size.
[build.processing.js]
  bundle = true # -> Concatenate consecutive JS files together to reduce HTTP requests.
  minify = true # -> Run JS through a minifier to reduce file size.
[build.processing.images]
  compress = true # -> Run all images through lossless image compression.

# Reference documentation
# Optimization blog post: https://www.netlify.com/blog/2019/08/05/control-your-asset-optimization-settings-from-netlify.toml/
# How to guide: https://docs.netlify.com/configure-builds/file-based-configuration/#post-processing

###################
# Contour redirects
###################

# Redirect /quickstart/contour.yaml to the deployment that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour.yaml
[[redirects]]
  from = "/quickstart/contour.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/release-1.24/examples/render/contour.yaml"
  status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.4.0/contour.yaml
[[redirects]]
  from = "/quickstart/*/contour.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/:splat/examples/render/contour.yaml"
  status = 302

# Redirect /quickstart/contour-gateway.yaml to the example Contour-Gateway manifest that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour-gateway.yaml
[[redirects]]
from = "/quickstart/contour-gateway.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour/release-1.24/examples/render/contour-gateway.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.4.0/contour-gateway.yaml
[[redirects]]
  from = "/quickstart/*/contour-gateway.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/:splat/examples/render/contour-gateway.yaml"
  status = 302

# Redirect /quickstart/contour-gateway-provisioner.yaml to the Gateway provisioner manifest that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour-gateway-provisioner.yaml
[[redirects]]
  from = "/quickstart/contour-gateway-provisioner.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/release-1.24/examples/render/contour-gateway-provisioner.yaml"
  status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.4.0/contour-gateway-provisioner.yaml
[[redirects]]
  from = "/quickstart/*/contour-gateway-provisioner.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/:splat/examples/render/contour-gateway-provisioner.yaml"
  status = 302


##################################
# Operator redirects - do not edit
##################################

# Redirect /quickstart/operator.yaml to the deployment that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/operator.yaml
[[redirects]]
from = "/quickstart/operator.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.24/examples/operator/operator.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/operator.yaml
[[redirects]]
from = "/quickstart/*/operator.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/operator/operator.yaml"
status = 302

# Redirect /quickstart/contour-custom-resource.yaml to the Contour custom resource that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour-custom-resource.yaml
[[redirects]]
from = "/quickstart/contour-custom-resource.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.24/examples/contour/contour.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/contour-custom-resource.yaml
[[redirects]]
from = "/quickstart/*/contour-custom-resource.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/contour/contour.yaml"
status = 302

# Redirect /quickstart/gateway.yaml to the example Gateway manifest that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/gateway.yaml
[[redirects]]
from = "/quickstart/gateway.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.24/examples/gateway/gateway.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/gateway.yaml
[[redirects]]
from = "/quickstart/*/gateway.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/gateway/gateway.yaml"
status = 302

# Redirect /quickstart/gateway-nodeport.yaml to the example Gateway manifest that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/gateway-nodeport.yaml
[[redirects]]
from = "/quickstart/gateway-nodeport.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.24/examples/gateway/gateway-nodeport.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/gateway-nodeport.yaml
[[redirects]]
from = "/quickstart/*/gateway-nodeport.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/gateway/gateway-nodeport.yaml"
status = 302

# Redirect /quickstart/kuard.yaml to the example Kuard manifest that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/kuard.yaml
[[redirects]]
from = "/quickstart/kuard.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.24/examples/gateway/kuard/kuard.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/kuard.yaml
[[redirects]]
from = "/quickstart/*/kuard.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/gateway/kuard/kuard.yaml"
status = 302


#####################################
# One-time version redirects for move
# to major-minor docs -- do not edit
#####################################
[[redirects]]
  from = "/docs/v1.24.1/*"
  to = "/docs/1.24/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.24.0/*"
  to = "/docs/1.24/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.23.3/*"
  to = "/docs/1.23/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.23.2/*"
  to = "/docs/1.23/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.23.1/*"
  to = "/docs/1.23/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.23.0/*"
  to = "/docs/1.23/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.22.4/*"
  to = "/docs/1.22/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.22.3/*"
  to = "/docs/1.22/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.22.2/*"
  to = "/docs/1.22/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.22.1/*"
  to = "/docs/1.22/:splat"
  status = 302

[[redirects]]
  from = "/docs/v1.22.0/*"
  to = "/docs/1.22/:splat"
  status = 302