[build]
  base = "site/"
  command = "hugo --gc --minify"
  publish = "site/public"

[build.processing]
  skip_processing = false # -> Enable processing
[build.processing.css]
  bundle = true # -> Concatenate consecutive CSS files together to reduce HTTP requests.
  minify = true # -> Run CSS through a minifier to reduce file size.
[build.processing.js]
  bundle = true # -> Concatenate consecutive JS files together to reduce HTTP requests.
  minify = true # -> Run JS through a minifier to reduce file size.
[build.processing.images]
  compress = true # -> Run all images through lossless image compression.

[context.production.environment]
  HUGO_VERSION = "0.81.0"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.81.0"


# Reference documentation
# Optimization blog post: https://www.netlify.com/blog/2019/08/05/control-your-asset-optimization-settings-from-netlify.toml/
# How to guide: https://docs.netlify.com/configure-builds/file-based-configuration/#post-processing

# Redirect /quickstart/contour.yaml to the deployment that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour.yaml
[[redirects]]
  from = "/quickstart/contour.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/release-1.11/examples/render/contour.yaml"
  status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.4.0/contour.yaml
[[redirects]]
  from = "/quickstart/*/contour.yaml"
  to = "https://raw.githubusercontent.com/projectcontour/contour/:splat/examples/render/contour.yaml"
  status = 302

# Redirect /quickstart/operator.yaml to the deployment that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/operator.yaml
[[redirects]]
from = "/quickstart/operator.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.11/examples/operator/operator.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/operator.yaml
[[redirects]]
from = "/quickstart/*/operator.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/operator/operator.yaml"
status = 302

# Redirect /quickstart/contour-custom-resource.yaml to the Contour custom resource that matches :latest.
#
# kubectl apply https://projectcontour.io/quickstart/contour-custom-resource.yaml
[[redirects]]
from = "/quickstart/contour-custom-resource.yaml"
# TODO [danehans]: Update main -> v1.11.0 when operator v1alpha1 is tagged.
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/release-1.11/examples/contour/contour.yaml"
status = 302

# Redirect versioned quickstarts so that they can easily be referenced by
# users or for upgrade testing.
#
# kubectl apply https://projectcontour.io/quickstart/v1.11.0/contour-custom-resource.yaml
[[redirects]]
from = "/quickstart/*/contour-custom-resource.yaml"
to = "https://raw.githubusercontent.com/projectcontour/contour-operator/:splat/examples/contour/contour.yaml"
status = 302
