{{ define "main" }}
	<main>
		{{ partial "hero.html" . }}
		{{ partial "homepage-grid.html" . }}
		<div class="bg-grey introduction">
			<div class="wrapper grid two">
				<div class="col">
					<p class="strong"><a href="#">Introduction to Contour</a></p>
					<p>Read an overview of the Contour project, including key use cases and how to get involved.</p>
				</div>
				<div class="col">
					<p class="strong"><a href="#">Learn how Contour is used for advanced traffic routing</a></p>
					<p>Read about using Contour for blue-green application deployments.</p>
				</div>
			</div>
		</div>
		{{ partial "use-cases.html" . }}
		{{ partial "blog-highlights.html" . }}
		{{ partial "team.html" . }}
	</main>
{{ end }}
