<div class="team">
    <div class="wrapper">
        <h2>Imperdiet sed euismod nisi:</h2>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/team-placeholder.png" /></div>
                <div class="info">
                    <p class="name">Lorem Ipsum</p>
                    <p class="position">dolor</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/team-placeholder.png" /></div>
                <div class="info">
                    <p class="name">Lorem Ipsum</p>
                    <p class="position">dolor</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/team-placeholder.png" /></div>
                <div class="info">
                    <p class="name">Lorem Ipsum</p>
                    <p class="position">dolor</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/team-placeholder.png" /></div>
                <div class="info">
                    <p class="name">Lorem Ipsum</p>
                    <p class="position">dolor</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/team-placeholder.png" /></div>
                <div class="info">
                    <p class="name">Lorem Ipsum</p>
                    <p class="position">dolor</p>
                </div>
            </div>
        </div>
        <h3>Lorem Ipsum:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href="#">incididunt ut labore</a> et dolore magna aliqua.</p>
    </div>
</div>