<nav>
  <!-- If new pages are added to the site and the TOC needs to be updated, it
  can be overriden based on version -->
  {% assign version = page.version | replace: ".", "" %}
  {% if site.data[version] %}
    {% assign toc = site.data[version].toc %}
  {% else %}
    {% assign toc = site.data.default.toc %}
  {% endif %}

  {% for item in toc %}
  <h3>{{ item.title }}</h3>
  <ul>
    {% for entry in item.subfolderitems %}
    <li>
      {% if entry.github %}
        <a href="{{ entry.url | prepend: page.gh }}" target="_blank">{{ entry.page }}</a>
      {% else %}
        <a href="{{ entry.url | prepend: page.version | prepend: "/" | relative_url }}">{{ entry.page }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</nav>
