$white: #ffffff;
$blue: #007db1;
$darkgrey: #333333;
$grey: #757575;
$lightgrey: #F2F2F2;
$darkblue: #002538;
$purple: #7F35B2;
$black: #111111;
$mainblue: #007db1;
$navyblue: #1D428A;
$turquoise: #24c7d3;