.alert-deprecation {
    @extend .alert-warning;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

/*
 * Inject a large #x26a0 (WARNING SIGN) glyph in front of a deprecation
 * warning.
 */
.alert-deprecation::before {
    font-size: 175%;
    font-weight: bold;
    vertical-align: middle;
    content: "⚠"
}
