.site-footer {
  padding: 24px 0 34px 0;
  .social-links {
    color: $footer-foreground;
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      font-size: 0.75rem;
      color: $footer-link-color;
      &:hover {
        color: $footer-link-color;
        text-decoration: underline;
      }
    }
    li {
      display: inline-block;
      padding: 5px;
      width: 23%;
      &:hover {
        color: $footer-link-color;
        a {
          text-decoration: underline;
        }
      }
      @include media-breakpoint-up(md) {
        width: unset;
      }
    }
  }
  .copyright {
    font-size: 0.75rem;
    display: inline;
  }
  .logo {
    max-width: 146px;
    height: auto;
    margin-left: 30px;
    display: none;
    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }
  .vm-logo {
    font-size: .75rem;
    color: #777;
    img {
      max-width: 75px;
      margin-left: 30px;
    }
  }
  .col-md-5 {
    max-width: unset;
    flex: 0 0 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 41.6666666667%;
      max-width: 0 0 41.6666666667%;
    }
  }
  .col-md-7 {
    max-width: unset;
    flex: 0 0 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
  }
}