<footer>
	<div class="wrapper footer-links">
		<div class="top-links">
			<ul class="left-links">
				<li><a href="{{ .Site.Params.twitter_url }}"><img src="/img/twitter.png" alt="Twitter logo" />Twitter</a></li>
				<li><a href="{{ .Site.Params.slack_url }}"><img src="/img/slack.png" alt="Slack logo" /><span class="desktop">#Slack</span><span class="mobile">Slack</span></a></li>
				<li><a href="{{ .Site.Params.github_url }}"><img src="/img/github.svg" alt="GitHub logo" />GitHub</a></li>
			</ul>
			<div class="right-links">
				<a href="/"> <img src="/img/Contour.svg" alt="Contour logo" /></a>
			</div>
		</div>
		<div class="bottom-links">
			<div class="copywrite">
				&copy; Project Contour Authors
				<br />
				&copy; {{ now.Year }} <a href="https://linuxfoundation.org" target="_blank">The Linux Foundation</a>. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://linuxfoundation.org/trademark-usage" target="_blank">Trademark Usage</a> page.
			</div>
		</div>
	</div>
</footer>
