<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div>
    <section class="jumbotron text-center " style="background-color:#24c7d3;color:#fff; padding: 50px;">
        <div class="container">
            <h1>Get involved</h1>
            <p class="lead" style="color:#fff;">Join the mailing list to get invites to meetings.</p>
            <p style="margin-top: 30px;"><a href="https://groups.google.com/g/project-contour" target="_blank"><button
                        type="button" class="btn btn-primary btn-lg">Join the mailing list</button></a></p>
            <p></p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</div>