<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h1>High performance ingress controller for Kubernetes</h1>
			<p>Contour is an open source Kubernetes ingress controller providing the control plane for the Envoy edge and service proxy.​ Contour supports dynamic configuration updates and multi-team ingress delegation out of the box while maintaining a lightweight profile.</p>
			<div class="buttons">
                <a class="button" href="/getting-started">Get started using Contour</a>
                <a class="button secondary" href="https://github.com/projectcontour/contour/releases/">Download Latest Release</a>
            </div>
		</div>
	</div>
</div>