<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/kubernetes-logo.png" alt="Kubernetes Logo" />
				<h3>Built for Kubernetes</h3>
				<p>Quickly deploy cloud-native applications using the flexible and innovative HTTPProxy API.</p>
			</div>
			<div class="card">
				<img src="/img/dynamic-reconfig-icon.svg" alt="Dynamic Reconfiguration Icon" />
				<h3>Dynamic Reconfiguration</h3>
				<p>Update Envoy configurations as the ingress and underlying elements change, without restarting the load balancer.</p>
			</div>
			<div class="card">
				<img src="/img/secure-ingress-icon.svg" alt="Secure Ingress Icon" />
				<h3>Secure Ingress Delegation</h3>
				<p>Safely delegate ingress configuration to protect service access on multi-team Kubernetes clusters.</p>
			</div>
		</div>
	</div>
</div>