<div class="team">
    <div class="wrapper">
        <h2>The Contour Team</h2>
        <p>Contour is released as open source software and provides community support through our GitHub project page. If you encounter an issue or have a question, feel free to reach out on the <a href="https://github.com/projectcontour/contour/issues/new/choose">GitHub issues page for Contour</a>.</p>
        <p>The Contour project team welcomes contributions from the community, please see our <a href="https://github.com/projectcontour/contour/blob/main/CONTRIBUTING.md">contributing documentation</a>.</p>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/contributors/steve-kriss.png" alt="Steve Kriss Picture" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/skriss">Steve Kriss</a></p>
                    <p class="position">Tech Lead/Maintainer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/steve-sloka.png" alt="Steve Sloka Picture" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/stevesloka">Steve Sloka</a></p>
                    <p class="position">Maintainer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/sunjay-bhatia.jpg" alt="Sunjay Bhatia Picture" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/sunjayBhatia">Sunjay Bhatia</a></p>
                    <p class="position">Maintainer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/alex-xu.png" alt="Alex Xu Picture" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/xaleeks">Alex Xu</a></p>
                    <p class="position">Product Manager</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/tero-saarni.png" alt="Tero Saarni Picture" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/tsaarni">Tero Saarni</a></p>
                    <p class="position">Maintainer</p>
                </div>
            </div>
        </div>
    </div>
</div>
