<div class="team">
    <div class="wrapper">
        <h2>The Contour Team</h2>
        <p>Contour is released as open source software and provides community support through our GitHub project page. If you encounter an issue or have a question, feel free to reach out on the <a href="https://github.com/projectcontour/contour/issues/new/choose">GitHub issues page for Contour</a>.</p>
        <p>The Contour project team welcomes contributions from the community, please see our <a href="https://github.com/projectcontour/contour/blob/main/CONTRIBUTING.md">contributing documentation</a>.</p>
    </div>
</div>
