<div class="wrapper use-cases">
    <h2>Features</h2>
    <div class="grid two">
        <div class="col image">
            <img src="/img/case-study-1.svg" alt="Case Study Icon" />
        </div>
        <div class="col text">
            <p class="strong">Envoy Inside</p>
            <p>Contour is built as the control plane for Envoy, the high performance L7 proxy and load balancer</p>
        </div>
    </div>
    <div class="grid two image-right">
        <div class="col text">
            <p class="strong">Flexible Architecture</p>
            <p>Contour can be deployed as either a Kubernetes deployment or daemonset</p>
        </div>
        <div class="col image">
            <img src="/img/icon-dial.svg" alt="Dial Icon" />
        </div>
    </div>
    <div class="grid two">
        <div class="col image">
            <img src="/img/icon-tree.svg" alt="Navigation Tree Icon" />
        </div>
        <div class="col text">
            <p class="strong">TLS Certificate Delegation</p>
            <p>Administrators can delegate wildcard certificate access securely</p>
        </div>
    </div>
</div>