name: Build and push a release

on:
  push:
    tags:
    # Although these *look* like regex matches, they're not!
    # They are Go path.Match() expressions.
    # See https://golang.org/pkg/path/#Match for details.
    - 'v[0-9]*.[0-9]*.[0-9]'
    - 'v[0-9]*.[0-9]*.[0-9][0-9]'
    - 'v[0-9]*.[0-9]*.[0-9][0-9][0-9]'
    - 'v[0-9]*.[0-9]*.[0-9]*beta*'
    - 'v[0-9]*.[0-9]*.[0-9]*alpha*'
    - 'v[0-9]*.[0-9]*.[0-9]*rc*'

permissions:
  contents: read

env:
  GOPROXY: https://proxy.golang.org/
  GO_VERSION: 1.25.2

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      with:
        version: latest
    - name: Log in to GHCR
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and Push to GHCR
      env:
        REGISTRY: ghcr.io/${{ github.repository_owner }}
        TAG_LATEST: "false"
      run: |
        ./hack/actions/build-and-push-release-images.sh
  gateway-conformance-report:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        # * Module download cache
        # * Build cache (Linux)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-${{ github.job }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ github.job }}-go-
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false
    - name: add deps to path
      run: |
        ./hack/actions/install-kubernetes-toolchain.sh $GITHUB_WORKSPACE/bin
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
    - name: Gateway API conformance tests
      env:
        GENERATE_GATEWAY_CONFORMANCE_REPORT: "true"
      run: |
        export CONTOUR_E2E_IMAGE="ghcr.io/projectcontour/contour:$(git describe --tags)"
        make setup-kind-cluster run-gateway-conformance cleanup-kind
    - name: Upload gateway conformance report
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: gateway-conformance-report
        path: gateway-conformance-report/projectcontour-contour-*.yaml
