name: Build and push a release

on:
  push:
    tags:
      # Although these *look* like regex matches, they're not!
      # They are Go path.Match() expressions.
      # See https://golang.org/pkg/path/#Match for details.
      - 'v[0-9]*.[0-9]*.[0-9]'
      - 'v[0-9]*.[0-9]*.[0-9][0-9]'
      - 'v[0-9]*.[0-9]*.[0-9][0-9][0-9]'
      - 'v[0-9]*.[0-9]*.[0-9]*beta*'
      - 'v[0-9]*.[0-9]*.[0-9]*alpha*'
      - 'v[0-9]*.[0-9]*.[0-9]*rc*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    - name: Build and Push to registry
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        TAG_LATEST: "false"
      run: |
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        ./hack/actions/build-and-push-release-images.sh
        docker logout
    - uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
        steps: ${{ toJson(steps) }}
        channel: '#contour-ci-notifications'
      if: failure()
