name: Release Note Label Check

# Trigger the workflow on pull requests only
on: 
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
    branches: [main]

permissions:
  contents: read

env:
  GOPROXY: https://proxy.golang.org/

jobs:
  # Ensures correct release-note labels are set:
  # - At least one label
  # - At most one of the main category labels
  # - A deprecation label alone or with something other than "none-required"
  # Ensures you can have a change that is just a deprecation, or include a
  # deprecation with another release note.
  check-label:
    name: Check release-note label set
    runs-on: ubuntu-latest
    steps:
    - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5
      with:
        mode: minimum
        count: 1
        labels: "release-note/major, release-note/minor, release-note/small, release-note/docs, release-note/infra, release-note/deprecation, release-note/none-required"
    - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5
      with:
        mode: maximum
        count: 1
        labels: "release-note/major, release-note/minor, release-note/small, release-note/docs, release-note/infra, release-note/none-required"
    - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5
      with:
        mode: maximum
        count: 1
        labels: "release-note/deprecation, release-note/none-required"
  check-changelog:
    name: Check for changelog file
    needs: [check-label]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        # * Module download cache
        # * Build cache (Linux)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-${{ github.job }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ github.job }}-go-
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 'stable'
        cache: false
    - run: go run ./hack/actions/check-changefile-exists.go
      env:
        PR_NUMBER: ${{ github.event.number }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
