name: Trivy Scan

on:
  # Run weekly
  schedule:
    - cron: '0 12 * * 1'
  # Allow manual runs
  workflow_dispatch:

jobs:
  trivy-scan:
    strategy:
      matrix:
        branch:
        - main
        - release-1.26
        - release-1.25
        - release-1.24
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - uses: aquasecurity/trivy-action@0.12.0
        with:
          scanners: vuln
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
