name: Trivy Scan

on:
  # Run weekly
  schedule:
  - cron: '0 12 * * 1'
  # Allow manual runs
  workflow_dispatch:

permissions:
  contents: read

jobs:
  trivy-scan:
    strategy:
      matrix:
        branch:
        - main
        - release-1.30
        - release-1.29
        - release-1.28
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          ref: ${{ matrix.branch }}
      - uses: aquasecurity/trivy-action@6c175e9c4083a92bbca2f9724c8a5e33bc2d97a5 # 0.30.0
        with:
          scanners: vuln
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
      - uses: github/codeql-action/upload-sarif@45775bd8235c68ba998cffa5171334d58593da47 # v3.28.15
        with:
          sarif_file: 'trivy-results.sarif'
